#proposal {
  height: 300px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.error {
  color: red;
  font-size: 12px;
}
input.error {
  border: 1px solid red;
}
.metamask-error {
  min-height: 500px;
}
.form {
  height: 150px;
}
.notice {
  background-color: #4e4469;
  color: white;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 8px 16px;
}
