* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
#App {
  font-size: 1.6rem;
  --primary-color: #1266cc;
  --secondary-color: #f96400;
  --flash-color: rgb(89, 255, 0);
  --gray: #999;
  --light-gray: #e0e0e0;
  --dark-gray: #777;
}

.metamask-error {
  min-height: 200px;
}

.notice {
  background-color: #4e4469;
  color: white;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 8px 16px;
}
