* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
#App {
  font-size: 1.6rem;
  --primary-color: #1266cc;
  --secondary-color: #f96400;
  --flash-color: rgb(89, 255, 0);
  --gray: #999;
  --light-gray: #e0e0e0;
  --dark-gray: #777;
}
