#voting {
  height: 300px;
  /* background-color: #7d3458; */
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.error {
  color: red;
  font-size: 12px;
}
select.error {
  border: 1px solid red;
}
.metamask-error {
  min-height: 500px;
}
